@font-face {
  font-family: knowyour;
  font-display: fallback;
  src: url(../fonts/knowyour.ttf)
}

@font-face {
  font-family: LemonTuesday;
  font-display: fallback;
  src: url(../fonts/LemonTuesday.otf)
}

body{
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: Oswald, sans-serif;
}

header {
  position: relative;
  height: 100vh;
  background-image: url(../img/mural.webp);
  background-size: cover;
  background-position: center
}

header .introduceText{
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 25%;
}

h1 {
  font-size: 5em;
  font-family: knowyour;
  text-transform: uppercase;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  margin: 0;
}

h3 {
  margin: 0;
  font-family: LemonTuesday;
  color: #ad0808;
  font-size: 4em;

}

header h3{
  transform: rotate(-5deg);
  animation: signatureMove 1.4s both ease-in-out
}

header nav{
  box-shadow: none;
}

nav .nav-wrapper.container{
  width: 100%;
  margin-right: 3rem;
}

header nav i.material-icons{
  font-size: 3.5em;
  color: #c6c6c6;
}

header nav ul li a {
  padding: 0 2em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #c6c6c6;
  transition: .4s linear
}

nav ul.hide-on-med-and-down li a:hover {
  border-bottom: 1px solid #c20909;
  transform: translateX(10%)
}

header .sidenav{
  width: 30%;
  opacity: 50%;
}

header .sidenav a{
  font-size: 1.4rem;
  padding: 2rem 0;
}

.socialHeader{
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.socialHeader a{
  display: block;
  color: #c6c6c6;
  padding: 2rem;
  transition: .4s linear;
}

.socialHeader a:hover {
  color: #ee6e73;
}

.socialHeader i{
  font-size: 5rem;
}

header .arrowScrollTop {
  position: fixed;
  bottom: -22%;
  right: 2%;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  border: 2px solid #ee6e73;
  font-size: 2.2em;
  color: #ee6e73;
  text-align: center;
  line-height: 4vh;
  transition: .4s linear;
  background-color: rgba(255, 255, 255, .5);
  z-index: 5
}

header .arrowScrollTop:hover {
  background-color: rgba(255, 255, 255, .8);
  color: #c20909;
  border: 2px solid #c20909
}

header .arrowScrollTop.active {
  bottom: 2%;
  cursor: pointer
}

section.scroll h3{
  margin: 1em;
}

section.scroll .text{
  margin-top: 10%;
}

#offer blockquote.last{
  margin-top: 25%;
}

section.scroll .picture{
  position: relative;
}

article.picture .fas {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 2.2rem;
  color: #fff;
  transition: .3s linear
}
article.picture .fas:hover {
  color: #ee6e73;

}

section.scroll .text .quote {
  font-size: 1.6rem;
  padding: 20px 20px;
  font-weight: 300
}

section.scroll .text .author {
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: 200
}

.galleryContainer {
  position: absolute;
  top: 0;
  left: -80%;
  width: 50px;
  height: 50px
}

article.videoResume,
article.prices,
article.aboutWrapper{
  width: 100%;
  background-color: #000;
}

article.videoResume iframe{
  padding: 2rem;
}

article.prices h3,
section#about h3{
  margin: 1em;
}

article.prices h6{
  margin: .5em;
}

div.container.additionalInfo{
  width: 50%;
  margin-top: 4em;
  margin-bottom: 4em;
}

.additionalInfo{
  margin-bottom: 2em;
}

.insetShadow img{
  border-radius: 5px;
  opacity: .7;
}

footer #socialIcon i{
  margin-top: 10%;
  padding: 5px;
}

#contact i.fa-phone,
#contact i.fa-envelope{
  font-size: 1.3rem;
  padding: .5em 0;
  letter-spacing: 1px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

@keyframes signatureMove {
  0% {
      filter: grayscale(100%);
      opacity: 0
  }

  100% {
      filter: grayscale(0);
      opacity: 1
  }
}

@media only screen and (max-width: 1024px){
  
  header nav ul li a {
    padding: 0 1em;
  }

  header .introduceText{
    bottom: 5%;
  }
  
  h1 {
    font-size: 4em;
  }
  
  h3 {
    font-size: 3em;
  }

  .arrowScrollTop{
    display: none;
  }

  .socialHeader i{
    font-size: 4.5rem;
  }

  section.scroll .text{
    margin-top: 0;
  }

  div.container.additionalInfo{
    width: 70%;
  }

  footer #socialIcon i{
    font-size: 3rem;
  }
  
  #contact i.fa-phone,
  #contact i.fa-envelope{
    font-size: 1.2rem;
    padding: .5em 0;
  }

  #contact h4{
    font-size: 1.5rem;
  }

}

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 3em;
  }
  
  h3 {
    font-size: 2.5em;
  }

  .socialHeader{
    bottom: 10%;
  }

  .socialHeader a{
    padding: 1rem;
  }

  .socialHeader i{
    font-size: 4rem;
  }

  .aboutWrapper h5{
    font-size: 1.3rem;
  }

}

@media only screen and (max-width: 412px) {

  header .introduceText{
    bottom: 2%;
    left: 5%;
    width: 20%;
  }

  h1 {
    font-size: 2.5em;
  }
  
  h3 {
    font-size: 2em;
  }

  header .sidenav{
    width: 40%;
  }

  header nav i.material-icons{
    margin-right: -60px;
  }

  .socialHeader{
    right: 2%;
  }

  .socialHeader a{
    padding: 1rem 0;
  }

  .socialHeader i{
    font-size: 3.5rem;
  }

  div.container.additionalInfo{
    width: 90%;
  }

  article.prices h3{
    font-size: 2.5em;
  }

  article.prices h5{
    font-size: 1.12em;
  }

  article.prices h6{
    font-size: .85em;
  }

  .aboutWrapper h5{
    font-size: 1.1rem;
  }

  footer #socialIcon i{
    font-size: 2rem;
  }
  
  #contact i.fa-phone,
  #contact i.fa-envelope{
    font-size: .9rem;
    padding: .2em 0;
  }

  #contact h4{
    font-size: 1.2rem;
  }

}